
@import "tailwindcss";
@tailwind utilities;

@layer utilities {
    @keyframes fadeInLeft {
      from {
        transform: translateX(-16rem);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
    .trans {
      animation: fadeInLeft 0.6s ease-out forwards;
    }
  }
